@font-face {
  font-family: WorkSans-Bold;
  src: url(/assets/fonts/static/WorkSans-Bold.ttf);
}
@font-face {
  font-family: WorkSans-SemiBold;
  src: url(/assets/fonts/static/WorkSans-SemiBold.ttf);
}
@font-face {
  font-family: WorkSans-Regular;
  src: url(/assets/fonts/static/WorkSans-Regular.ttf);
}

.container-fluid {
  height: 100%;
  width: 100%;
}

#i {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
}

#main {
  position: relative;
  z-index: 1;
  width: 50%;
  max-width: 60%;
  height: 100%;
  border: solid gainsboro 1px;
  border-radius: 20px;
  margin-top: 10%;
  background-color: white;
  box-shadow: 0px 0px 10px gray;
}

.row {
  font-family: WorkSans-SemiBold;
  margin: 20px 0;
  color: hsl(292, 42%, 14%);
}

.row:hover {
  color: #ad28eb;
  cursor: pointer;
}

#star {
  display: flex;
  justify-content: center;
  align-items: center;
}

#faq {
  text-align: center;
  font-family: WorkSans-Bold;
  font-size: 2.5rem;
}

#text {
  color: hsl(292, 16%, 49%);
  font-family: Worksans-Regular;
}

#r1:hover {
  cursor: default;
  color: hsl(292, 42%, 14%);
}

#text:hover {
  cursor: default;
  color: hsl(292, 16%, 49%);
}

#bc {
  position: absolute;
  z-index: -1;
  max-width: 100%;
  height: 66vh;
  bottom: 0;
  left: 0;
  background-color: hsl(275, 100%, 97%);
}

@media screen and (max-width: 375px) {
}
